/*this content sort of came from random place like MS Word*/
.generic-content-container {
    
    p {
/*        doesnt require unit of measurement*/
        font-weight: 300;
        line-height: 1.65;
/*        t r b l*/
        margin: 0 0 1.8rem 0;
        
        @mixin atSmall {
            font-size: 1.125rem;
        }
    }
    
    p a {
/*        400 for font weight is standard */
        font-weight: 700;
        
    }
}